<!DOCTYPE html>
<html>
<head>
  <title>Blog App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "user", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>
<body>
  <%= render "shared/header" %>
  <ul>
  <% @users.each do |user| %>
    <li>
        <div class = "user-info">
      <% if user.photo_url.present? %>
        <%= image_tag user.photo_url, alt: user.name %>
      <% else %>
        <!-- Display a default image or placeholder image -->
        <h6>No photo</h6>
      <% end %>
      <div class = "user-info-2">
      <h3><%= link_to user.name, user_path(user), class: "my-link" %></h3>
        <div class = "post-counter"><h5>Total Posts: <%= user.posts.count %></h5></div>
       </div>
      </div>
    </li>
  <% end %>
</ul>
</body>
</html>
