<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>Posts</h1>
<div class="Post_container">
  <div class="post_info">
    <h2><%= @post.title %></h2>
    <p><%= @post.text %></p>
  </div>
  <div class="likes">
    <h5>Likes: <%= @post.likes_counter %></h5>
  </div>
  <div class="comments">
    <h5>Comments: <%= @post.comments_counter %></h5>
    <ul>
      <% @post.comments.each do |comment| %>
        <li>
          <strong><%= comment.user.name %>:</strong>
          <%= comment.text %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
